<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
</head>
<body>
    <div class="d-flex flex-row">
        <div class="card" style="width: 50%">
            <h2>Book Title: {{ book.title }}</h2>
            <h3>ID: {{ book.id }} </h3>
            <h3>Description: {{ book.desc }}</h3>
            <h3>Authors</h4>
            <ul>
                {% for author in book.authors.all %}
                <li>{{ author.first_name }} {{ author.last_name }}</li>
                {% endfor%}
            </ul>
            <h4>Add Author:</h4>
            {% if authors %}
            <form action="/book/{{ book.id }}/assign" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select name="author_id" id="author_id" class="form-control">
                        <!-- <option selected>-select an author-</option> -->
                        {% for author in authors %}
                        <option value="{{ author.id }}">{{author.first_name}} {{author.last_name}}</option>
                        {% endfor%}
                    </select>
                    <button class="btn btn-primary">Add</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</body>
</html>